<form class="example-form">
  <div class="login">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="password">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [formControl]="passFormControl" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <button class="button-login" mat-raised-button color="primary" (click) = "signUp()">Sign Up</button>
  <p class="signIn" routerLink="/auth/login">Have an account? <strong class="strong">Log In</strong></p>
</form>
